<h1>Carrito</h1>

{{>menu}}

<a href="/">Volver</a>
<input id="cartId" type="text" hidden value="{{cart._id}}">
<ul id="cartItems">
    {{#each cart.products}}

    <div id="itemCart">
        <li id="idProd">{{this.product.title}} - ${{this.product.price}} - {{this.product.description}} -
            {{this.quantity}}</li>
            <button type="submit" data-product-id="{{this.product._id}}">Borrar producto</button>

            {{!-- <button onclick="borrar({{cart._id}}, {{this.product._id}})">Borrar producto</button> --}}

    </div>
</ul>
{{/each}}


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/cart.js"></script>