<h1>Listado de productos: </h1>

<a href="/realtimeproducts">Agregar/borrar productos</a>
<a href="/chat">Chat</a>
<hr>

<div class="productList">

    {{#each docs}}
    <ul>
        <div id="addForm">
            <li>{{this.title}} - ${{this.price}} - {{this.description}}</li>
            <button type="submit" data-product-id="idProdAdd">Agregar al carrito</button>
        </div>
    </ul>
    {{/each}}

    <a href="/?page=1">P치g.1</a>

    {{#if hasPrevPage}}
    <a href="/?page={{prevPage}}">P치g.Anterior</a>
    {{/if}}

    {{#if hasNextPage}}
    <a href="/?page={{nextPage}}">P치g.Siguiente</a>
    {{/if}}

    {{#if hasNextPage}}
    <a href="/?page={{totalPages}}">Ult.p치gina</a>
    {{/if}}
</div>



<script src="/js/home.js"></script>